.App {
  text-align: center;
  display: grid;
  height: 100vh;
  color: #ffffff;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(./images/background.jpeg);
  background-color: #3b6ca3;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.6vw;
}
.navbar {
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  height: 12vh;
  background: linear-gradient(#422515, #422515d7, #42251593, #42251500);
  /* padding-bottom: 7vh; */
}
h1 {
  grid-area: 2/1/3/2;
  height: 2vh;
  margin-top: -2vh;
  margin-bottom: 6vh;
}
main {
  grid-area: 3/1/4/2;
  display: grid;
  grid-template: 100% / 25vw 75vw;
  height: 88vh;
}
nav a {
  margin-top: -2vh;
}
a:link {
  text-decoration: none;
  color: #ffffff;
}
a:visited {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  text-decoration: underline;
  color: #88563b;
}
a:active {
  text-decoration: underline;
  color: #422515;
}
.list_wrap {
  width: 100%;
  height: 100%;
}
.navItem {
  font-size: 2.5vw;
  margin: 3vw 0;
}
.list {
  grid-area: 1/1/2/2;
  display: grid;
  grid-template: 5% 5% 90% / 100%;
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
}
.list > h2 {
  margin: 0;
  padding: 0;
}
.list > p {
  margin: 0;
  padding: 0;
}
.listDisplay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-end;
  overflow: scroll;
  margin-top: 1vh;
  padding: 1vw;
  height: calc(101% - 1vh - 2vw);
}
.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  /* height: 5vh; */
  /* background-color: khaki; */
}
.listItem > a > h3 {
  margin: 0;
}
.selection {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template: 5% 95% / 100%;
  height: inherit;
  width: 100%;
}
.selection > h2 {
  margin: 0;
  padding: 0;
  /* margin-right: vw; */
}
.selectionDisplay {
  grid-area: 2/1/3/2;
  display: grid;
  grid-template: 1fr / 50% 50%;
  width: inherit;
  height: 100%;
}
#defaultDisplay {
  grid-area: 1/1/3/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#defaultDisplay > img {
  border-radius: 999px;
  border: 5vw #1e5ec3;
  height: 80%;
}
.selectionDisplay > * {
  margin: 2vh 1vw;
  width: calc(100% - 2vw);
  height: calc(100% - 4vh);
}
.selectionImage {
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
  justify-content: left;
}
.selectionImage > img {
  width: 97%;
  height: 70vh;
  box-shadow: 0 0 5vw rgba(255, 255, 255, 0.699);
}
.selectionInfo {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow-y: scroll;
}
.selectionInfo > p {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.selectionRating {
  display: grid;
  grid-template: 1fr / 11vw repeat(5, 3vw) 3vw;
  margin-top: auto;
  /* position: relative; */
}
.selectionRating > b {
  align-self: center;
  margin-bottom: 1vh;
}
.starContain {
  display: grid;
  grid-template: 1fr / 0.75vw 2.25vw;
  margin-top: 0.45vh;
}
.left {
  width: 0.75vw;
  position: relative;
  z-index: 0;
  justify-self: end;
  /* margin-right: 18%; */
}
.right {
  width: 2.25vw;
  position: relative;
  z-index: 0;
  justify-self: start;
}
.star {
  width: 0.75vw;
  padding: 0;
  margin-bottom: auto;
  position: absolute;
  z-index: 1;
  /* margin-top: 8%; */
}
.filled {
  opacity: 0;
}
.selected > .empty {
  opacity: 0;
}
.selected > .filled {
  opacity: 1;
}
#deleteRating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  font-size: 0.8vw;
  justify-self: end;
  align-self: center;
  margin-bottom: 0.5vh;
  height: 2.5vh;
}
.home {
  text-align: center;
  vertical-align: middle;
}

@media (orientation: portrait) {
  main {
    grid-template: 10% 90% / 1fr;
  }
  .list_wrap {
    grid-area: 1/1/2/2;
  }
  .list {
    grid-template: 1fr 1fr / 25vw 75vw;
  }
  .list > h2 {
    grid-area: 1/1/2/2;
  }
  .list > p {
    grid-area: 2/1/3/2;
  }
  .list > div {
    grid-area: 1/2/3/3;
  }
  .selection {
    grid-area: 2/1/3/2;
  }
}
